<!DOCTYPE html>
<html lang="<%= l.lang %>">
    <head>
        <title>
            Find My Plate Qatar
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles.css" />
  </head>
  <body dir="<%= l.dir %>">
      <p>
          <ul>
              <li><a href="/?language=en">English</a></li>
              <li><a href="/?language=ar">العربية</a></li>
              <li><a href="/?language=ur">اردو</a></li>
          </ul>
      </p>
      <br/>
      <h1>Find My Plate Qatar</h1>
        <div>
            <h2>
                Results for plate <%= plate %>
            </h2>
            <% if (results.length === 0) { %>
                <p>
                    Sorry, no plates found! Please check back later or leave your contact number for anyone reporting the same to call you.
                </p>
                <form method="POST" action="/register" onsubmit="return validateRegister()"
                enctype="application/x-www-form-urlencoded">
                    <input type="hidden" name="plate" value="<%= plate %>"/>
                    <input type="text" name="contact"/>
                    <input type="submit" value="Register"/>
                </form>

            <% } else { %>
                <table border="1">
                    <tr>
                        <th>Contact</th>
                        <th>Location</th>
                    </tr>
                    <% for(var i=0; i<results.length; i++) {%>
                        <tr>
                            <td><%= results[i].contact %></td>
                            <td><%= results[i].location %></td>
                        </tr>
                    <% } %>
                </table>
            <% } %>
        </div>
        <p>
            Developed by: Hossam Hammady (Twitter: <a href="https://twitter.com/hammady">@hammady</a>)
        </p>
        <p>
            Under MIT open-source license.
            GitHub: <a href="https://github.com/hammady/find-my-plate">https://github.com/hammady/find-my-plate</a>
        </p>
        </body>
</html>
