<!DOCTYPE html>
<html lang="<%= l.lang %>">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= l.title %></title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

  </head>

  <body dir="<%= l.dir %>">

    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a class="navbar-brand" href="/?language=<%= l.lang %>"><%= l.title %></a>
        <div class="floating">
        <a class="btn btn-primary" href="/?language=en">English</a>
        <a class="btn btn-primary" href="/?language=ar">العربية</a>
        <a class="btn btn-primary" href="/?language=ur">اردو</a>
      </div>
      </div>
    </nav>

    <!-- Masthead -->
    <div class="main-content masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h5 class="mb-5"><%= message %></h5>
          </div>
        </div>
      </div>
    </div>


     <!-- Footer -->
     <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 h-100 text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0">&copy; Developed by <a href="http://twitter.com/hammady">Hossam Hammady</a>. Special thanks to <a href="http://twitter.com/Alaa_Hamoudah">Alaa Hamoudah</a> for the design.</p>
          </div>
          <div class="col-lg-7 h-100 text-center text-lg-left my-auto">
            <p class="text-muted small mb-4 mb-lg-0">    Under MIT open-source license. GitHub:
              <a href="https://github.com/hammady/find-my-plate">https://github.com/hammady/find-my-plate</a>
          </div>
        </div>
      </div>
    </footer>

  </body>

</html>
